* {box-sizing: border-box;}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Fading animation */
.fade {
  -webkit-animation-name: mymove;
  -webkit-animation-duration: 20.5s;
  animation-name: mymove;
  animation-duration: 20.5s;
}

@-webkit-keyframes mymove {
  from {opacity: 0.9}
  to {opacity: 1}
}

@keyframes mymove {
  from {opacity: 0.9}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
